body {
    margin: 0px !important;
}

#player:not(:hover) *:not(.video-container):not(.video-container *) {
    display:none;
}

#player {
    position: absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50vh;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.432);

    display: flex;
    flex-direction: column;
}
.video-container {
    width: 100%;
    flex-grow: 1;
}

.search-title {
    margin-bottom: 0;
}

.button-container {
    flex-shrink: 0;
    display: flex;
}
.button-container .control-button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.control {
    color: rgba(180, 180, 180, 0.541);
}

.button-container i {
    font-size: 200%;
    cursor: pointer;
    width:20px;
    margin-right: 10px;
}

.button-container {
    background-color: black;
}

.separator, .progressbar {
    flex-grow: 1;
}
.progressbar {
    display: flex;
    flex-direction: row;
}
.progressbar p {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
}